html
    head
    body
        h1 Task Manager
        hr
        h3 New Task
        form(method="post")
            span Task :
            input(type="text", name="newTask", id="newTask")
            input(type="submit",value="Create")    